body {
  background-image: url("images/image2.jpeg");
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.square {
  height: 3em;
  width: 3em;
  background-color: white;
  margin: 1%;
}

.form-control {
  margin-top: 10px;
  width: 40% !important;
}

#submit {
  width: 20% !important;
}

.fixed-top {
  position: relative !important;
}

.navbar-dark .navbar-nav .nav-link  {
  margin-right: 20px;
  font-size: 1.2em;
}

form,
.airplanes {
  margin-left: 20px !important;

}
label {
  display: block !important;
}

#SearchForm {

}
